@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;

}
.all {
    height: 100vh;
    width: 100%;
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 500px;
    background-color: rgb(9, 53, 69);
    border-radius: 7px;
    padding: 1rem;

}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 30px;
    color: white;
}

input[type="text"] {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: rgb(34, 73, 87);
    border: none;
    padding: 12px 10px;
    color: white;
}

input[type="password"] {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: rgb(34, 73, 87);
    border: none;
    padding: 12px 10px;
    color: white;

}

input[type="password"]::placeholder {
    color: white;
    font-size: 14px;
}

input[type="text"]::placeholder {
    color: white;
    font-size: 14px;
}
.two-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.two-content a {
    text-decoration: none;
    color: #20DF7F;
}

input[type="button"] {
    color: white;
    background-color: #20DF7F;
    width: 300px;
    border: none;
    padding: 12px 10px;
    border-radius: 7px;
    cursor: pointer;

}

input[type="button"]:hover {
    background-color: #20b369;
}

.two-content .checkbox #checkbox{
    background-color: #224957;
}

.two-content .checkbox span {
    color: white;
}

/* Login Page */
